<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.singularityclub.shopping" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.MessageInputActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.ShowProductionActivity_"
              android:label="@string/app_name">
        </activity>
        <activity android:name=".Activity.ShopCarActivity_"
            android:label="@string/app_name">
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".zxing.activity.CaptureActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"
            >
        </activity>
    </application>

</manifest>
